<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>채팅</title>
	<link rel="stylesheet" th:href="@{/css/chat.css}">
	<script src="/script/libs/jquery-3.7.1.min.js"></script>
	<script src="/script/libs/sockjs.min.js"></script>
	<script src="/script/libs/stomp.min.js"></script>
	<script src="/script/libs/axios.min.js"></script>
</head>

<body data-current-user-id="[[${currentUserId}]]" data-current-user-name="[[${currentUserName}]]">
	<div id="chatContainer">
		<div id="chatSidebar">
			<div id="userInfo">
				<h3 id="userName" th:text="${currentUserName}">User Name</h3>
				<p id="userId" th:text="${currentUserId}">User ID</p>
			</div>
			<!-- 대화 상대 선택 -->
			<select id="recipientSelect">
				<option value="" disabled selected>대화 상대를 선택하세요</option>
				<option th:each="member : ${members}" th:value="${member.memberId}" th:text="${member.memberName}">
				</option>
			</select>
			<button id="startChat">채팅하기</button>
			<div id="chatList">
				<!-- 채팅방 리스트가 여기에 추가됩니다 -->
				<div th:each="room : ${chatRooms}" class="chatRoom" th:data-room-id="${room.id}" th:text="${room.name}">
				</div>
			</div>
		</div>
		<!-- 채팅 메인 영역 -->
		<div id="chatMain">
			<div id="chatHeader">
				<h3 id="chatUserName"></h3>
				<p id="chatUserStatus">online</p>
				<button id="inviteButton">초대하기</button>
				<!-- 채팅할 멤버를 선택할 수 있는 모달 -->
				<div id="inviteModal" style="display:none;">
					<h3>대화할 멤버를 선택하세요</h3>
					<select id="inviteMembersSelect" multiple>
						<!-- 동적으로 멤버들을 로드할 곳 -->
					</select>
					<button id="confirmInviteButton">선택하기</button>
					<button id="cancelInviteButton">취소</button>
				</div>
			</div>
			<div id="messageArea">
				<!-- 메시지 표시 영역 -->
			</div>
			<div id="sendMessageArea">
				<input type="text" id="messageInput" placeholder="메시지를 입력하세요" />
				<button id="sendButton">전송</button>
			</div>
		</div>
	</div>


	<script src="/script/chat.js"></script>

</body>

</html>