<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="horizontal"
  xmlns:th="http://www.thymeleaf.org" xmlns:src="http://www.thymeleaf.org/extras/spring-security">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="/static/css/styles.css"/> -->
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <!-- External Libraries -->
  <script th:src="@{/libs/jquery-3.7.1.min.js}"></script>
  <script th:src="@{/libs/sockjs.min.js}"></script>
  <script th:src="@{/libs/stomp.min.js}"></script>
  <script th:src="@{/libs/axios.min.js}"></script>

  <title>디지털마스터 커뮤니티</title>
  <style>

  </style>
</head>

<body class="link-sidebar">
  <!-- Preloader -->
  <div class="preloader">
    <img th:src="@{/images/logos/favicon.png}" alt="loader" class="lds-ripple img-fluid" />
  </div>
  <div id="main-wrapper">
    <!-- Sidebar Start -->
    <aside class="left-sidebar with-vertical">
      <!-- <div> -->
      <!-- ---------------------------------- -->
      <!-- Start Vertical Layout Sidebar -->
      <!-- ---------------------------------- -->
      <!-- <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="../horizontal/index.html" class="text-nowrap logo-img">
            <img src="/static/images/logos/dark-logo.svg" class="dark-logo" alt="Logo-Dark" />
            <img src="/static/images/logos/light-logo.svg" class="light-logo" alt="Logo-light" />
          </a>
          <a href="javascript:void(0)" class="sidebartoggler ms-auto text-decoration-none fs-5 d-block d-xl-none">
            <i class="ti ti-x"></i>
          </a>
        </div> -->
    </aside>


    <div class="page-wrapper">
      <!--  Header Start -->
      <header class="topbar">
        <div class="app-header with-horizontal">
          <nav class="navbar navbar-expand-xl container-fluid p-0" style="margin-top: 10px !important;">
            <ul class="navbar-nav align-items-center">
              <!-- <li class="nav-item nav-icon-hover-bg rounded-circle d-flex d-xl-none ms-n2">
                <a class="nav-link sidebartoggler" id="sidebarCollapse" href="javascript:void(0)">
                  <i class="ti ti-menu-2"></i>
                </a>
              </li> -->
              <li class="nav-item d-none d-xl-block">
                <a th:href="@{/}" class="text-nowrap nav-link">
                  <img th:src="@{/images/logos/dark-logo.svg}" class="dark-logo" width="180" alt="modernize-img" />
                </a>
              </li>
            </ul>

            <!-- topbar 메뉴 -->
            <ul class="navbar-nav quick-links d-none d-xl-flex align-items-center">
              <!-- ------------------------------- -->
              <!-- start apps Dropdown -->
              <!-- ------------------------------- -->
              <li class="nav-item nav-icon-hover-bg rounded w-auto dropdown d-none d-lg-flex">
                <div class="hover-dd">
                  <a class="nav-link" href="javascript:void(0)">
                    수업 <span class="mt-1">
                      <i class="ti ti-chevron-down fs-3"></i>
                    </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-nav dropdown-menu-animate-up py-0"
                    style="min-width: 340px !important">
                    <div class="row">
                      <div class="col-8">
                        <div class="ps-7 pt-7">
                          <div class="border-bottom">
                            <div class="row">
                              <div class="col-6">
                                <div class="position-relative">
                                  <a th:href="@{/board/list(category=code)}"
                                    class="d-flex align-items-center pb-9 position-relative"
                                    style="width: 195px !important">
                                    <div
                                      class="text-bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                      <img th:src="@{/images/main/code.png}" alt="modernize-img" class="img-fluid"
                                        width="24" height="24" />
                                    </div>
                                    <div>
                                      <h6 class="mb-1 fw-semibold fs-3">코드 공유 게시판
                                      </h6>
                                      <span class="fs-2 d-block text-body-secondary">모르는 코드 물어보세요!</span>
                                    </div>
                                  </a>
                                  <a th:href="@{/board/list(category=project)}"
                                    class="d-flex align-items-center pb-9 position-relative"
                                    style="width: 280px !important">
                                    <div
                                      class="text-bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                      <img th:src="@{/images/main/project.png}" alt="modernize-img" class="img-fluid"
                                        width="24" height="24" />
                                    </div>
                                    <div>
                                      <h6 class="mb-1 fw-semibold fs-3">프로젝트 공유 게시판
                                      </h6>
                                      <span class="fs-2 d-block text-body-secondary">지난 기수들의 프로젝트를 확인해보세요!</span>
                                    </div>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item nav-icon-hover-bg rounded w-auto dropdown d-none d-lg-flex">
                <div class="hover-dd">
                  <a class="nav-link" href="javascript:void(0)">
                    취업 <span class="mt-1">
                      <i class="ti ti-chevron-down fs-3"></i>
                    </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-nav dropdown-menu-animate-up py-0"
                    style="min-width: 340px !important">
                    <div class="row">
                      <div class="col-8">
                        <div class="ps-7 pt-7">
                          <div class="border-bottom">
                            <div class="row">
                              <div class="col-6">
                                <div class="position-relative">
                                  <a th:href="@{/board/list(category=activity)}"
                                    class="d-flex align-items-center pb-9 position-relative"
                                    style="width: 225px !important">
                                    <div
                                      class="text-bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                      <img th:src="@{/images/main/job.png}" alt="modernize-img" class="img-fluid"
                                        width="24" height="24" />
                                    </div>
                                    <div>
                                      <h6 class="mb-1 fw-semibold fs-3">
                                        취업 공고 게시판
                                      </h6>
                                      <span class="fs-2 d-block text-body-secondary">최신 채용 정보를 확인하세요!</span>
                                    </div>
                                  </a>
                                  <a th:href="@{/board/list(category=recruit)}"
                                    class="d-flex align-items-center pb-9 position-relative"
                                    style="width: 266px !important">
                                    <div
                                      class="text-bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                      <img th:src="@{/images/main/recruit.png}" alt="modernize-img" class="img-fluid"
                                        width="24" height="24" />
                                    </div>
                                    <div>
                                      <h6 class="mb-1 fw-semibold fs-3">공모전/프로젝트 구인 게시판
                                      </h6>
                                      <span class="fs-2 d-block text-body-secondary">정보를 확인하고 팀원을 모집해보세요!</span>
                                    </div>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item nav-icon-hover-bg rounded w-auto dropdown d-none d-lg-flex">
                <div class="hover-dd">
                  <a class="nav-link" href="javascript:void(0)">
                    자유 <span class="mt-1">
                      <i class="ti ti-chevron-down fs-3"></i>
                    </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-nav dropdown-menu-animate-up py-0"
                    style="min-width: 340px !important">
                    <div class="row">
                      <div class="col-8">
                        <div class="ps-7 pt-7">
                          <div class="border-bottom">
                            <div class="row">
                              <div class="col-6">
                                <div class="position-relative">
                                  <a th:href="@{/board/list(category=free)}"
                                    class="d-flex align-items-center pb-9 position-relative"
                                    style="width: 230px !important">
                                    <div
                                      class="text-bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                      <img th:src="@{/images/main/board.png}" alt="modernize-img" class="img-fluid"
                                        width="24" height="24" />
                                    </div>
                                    <div>
                                      <h6 class="mb-1 fw-semibold fs-3">
                                        자유 게시판
                                      </h6>
                                      <span class="fs-2 d-block text-body-secondary">자유롭게 게시글을 올려주세요!</span>
                                    </div>
                                  </a>
                                  <a th:href="@{/board/list(category=info)}"
                                    class="d-flex align-items-center pb-9 position-relative"
                                    style="width: 266px !important">
                                    <div
                                      class="text-bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                      <img th:src="@{/images/main/info.png}" alt="modernize-img" class="img-fluid"
                                        width="24" height="24" />
                                    </div>
                                    <div>
                                      <h6 class="mb-1 fw-semibold fs-3">정보 게시판
                                      </h6>
                                      <span class="fs-2 d-block text-body-secondary">세상의 모든 정보를 확인하세요!</span>
                                    </div>
                                  </a>
                                  <a th:href="@{/board/list(category=group)}"
                                    class="d-flex align-items-center pb-9 position-relative"
                                    style="width: 266px !important">
                                    <div
                                      class="text-bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                      <img th:src="@{/images/main/classroom.png}" alt="modernize-img" class="img-fluid"
                                        width="24" height="24" />
                                    </div>
                                    <div>
                                      <h6 class="mb-1 fw-semibold fs-3">기수별 게시판
                                      </h6>
                                      <span class="fs-2 d-block text-body-secondary">기수별로 소통하고 정보를 공유하세요!</span>
                                    </div>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!-- ------------------------------- -->
              <!-- end apps Dropdown -->
              <!-- ------------------------------- -->
              <li class="nav-item dropdown-hover d-none d-lg-block">
                <a class="nav-link" th:href="@{/member/adminPageNote}">공지사항</a>
              </li>
              <th:block sec:authorize="hasRole('ADMIN')">
                <li class="nav-item dropdown-hover d-none d-lg-block">
                  <a class="nav-link" th:href="@{/admin/adminPage}">관리자 페이지</a>
                </li>
              </th:block>
            </ul>
            <!-- topbar 메뉴 끝-->



            <!-- 채팅/마이페이지 시작 -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <div class="d-flex align-items-center justify-content-between px-0 px-xl-8">
                <!-- <a href="javascript:void(0)"
                  class="nav-link round-40 p-1 ps-0 d-flex d-xl-none align-items-center justify-content-center"
                  type="button" data-bs-toggle="offcanvas" data-bs-target="#mobilenavbar"
                  aria-controls="offcanvasWithBothOptions">
                  <i class="ti ti-align-justified fs-7"></i>
                </a> -->
                <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-center" sec:authorize="isAuthenticated()">
                  <!-- 다크모드 -->
                  <!-- <li class="nav-item nav-icon-hover-bg rounded-circle">
                    <a class="nav-link moon dark-layout" href="javascript:void(0)">
                      <i class="ti ti-moon moon"></i>
                    </a>
                    <a class="nav-link sun light-layout" href="javascript:void(0)">
                      <i class="ti ti-sun sun"></i>
                    </a>
                  </li> -->
                  <!-- 채팅 -->
                  <li class="nav-item nav-icon-hover-bg rounded-circle"  sec:authorize="isAuthenticated()">
                    <a class="nav-link position-relative" 
                      th:href="@{api/chat/chatPage} ">
                      <img th:src="@{/images/main/chat.png}" alt="modernize-img" style="width: 30.2px; height: 30px;" />
                    </a>
                  </li>
                  <!-- 마이페이지 -->
                  <div>
                    <li class="nav-item nav-icon-hover-bg rounded-circle">
                      <!-- 링크 수정 필요-->
                      <a class="nav-link position-relative"
                        th:href="@{/memberpage/showpage(memberId=${#authentication.name})}">
                        <!-- savedFileName이 존재하는 경우 -->
                        <img th:src="@{/member/showImageAtMain/{memberId}(memberId=${#authentication.name})}"
                          alt="profile image" class="h-100">

                        <!-- savedFileName이 없는 경우 기본 이미지 사용 -->
                        <!-- <img th:if="${member.savedFileName == null}" src="/static/images/main/chat.png"
                          alt="default profile image" class="w-100 h-100"> -->
                      </a>
                    </li>
                  </div>
                </ul>
              </div>
            </div>
            <!-- 채팅/마이페이지 끝-->
          </nav>
          <!-- 회원가입/로그인 div 시작 -->
          <div id="loginLine">
            <ul>
              <li class="loginLineLi" sec:authorize="isAnonymous()">
                <a type="submit" th:href="@{/member/join}" class="loginLineA">회원가입
                </a>
              </li>
              <li class="loginLineLi">|</li> <!-- 구분자 추가 -->
              <li class="loginLineLi" sec:authorize="isAnonymous()">
                <a type="submit" th:href="@{/member/login}" class="loginLineA">로그인
                </a>
              </li>
              <li class="loginLineLi" sec:authorize="isAuthenticated()">
                <a type="submit" th:href="@{/member/logout}" class="loginLineA">[[${loginName}]]님, 로그아웃
                </a>
              </li>
            </ul>
          </div>
          <!-- 회원가입/로그인 div 끝 -->
        </div>
      </header>
      <!--  Header End -->


      <!-- 여기부터 본문 시작 -->
      <div class="body-wrapper">
				<div class="container-fluid">
					<div
						class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
						<div class="card-body px-4 py-3">
							<div class="row align-items-center">
								<div class="col-9">
									<h4 class="fw-semibold mb-8">Chat</h4>
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a
												class="text-muted text-decoration-none"
												href="/">Home</a></li>
											<li class="breadcrumb-item" aria-current="page">Chat</li>
										</ol>
									</nav>
								</div>
								<div class="col-3">
									<div class="text-center mb-n5"> <!-- style="height: 100%;" -->
										<img th:src="@{/images/breadcrumb/ChatBc.png}"
											alt="modernize-img" class="img-fluid mb-n4" />
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card overflow-hidden chat-application">
						<div
							class="d-flex align-items-center justify-content-between gap-6 m-3 d-lg-none">
							<button class="btn btn-primary d-flex" type="button"
								data-bs-toggle="offcanvas" data-bs-target="#chat-sidebar"
								aria-controls="chat-sidebar">
								<i class="ti ti-menu-2 fs-5"></i>
							</button>
							<form class="position-relative w-100">
								<input type="text" class="form-control search-chat py-2 ps-5"
									id="text-srh" placeholder="Search Contact" /> <i
									class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
							</form>
						</div>
						<div class="d-flex">
							<div class="w-30 d-none d-lg-block border-end user-chat-box">
								<div class="px-4 pt-9 pb-6">
									<div
										class="d-flex align-items-center justify-content-between mb-3">
										<div class="d-flex align-items-center">
											<!-- 로그인한 회원 프로필 -->
											<div class="position-relative">
												<img id="" alt="user1" width="54"
													height="54" class="rounded-circle userProfileImage" /> <span
													class="position-absolute bottom-0 end-0 p-1 badge rounded-pill bg-success">
													<span class="visually-hidden">New alerts</span>
												</span>
											</div>
											<div class="ms-3">
												<h6 class="fw-semibold mb-2 currentUserName">User
													Name</h6>
												<p  class="mb-0 fs-2 currentUserId" th:text="${currentUserId}"></p>
											</div>
										</div>
										<div class="dropdown">
											<a class="text-dark fs-6 nav-icon-hover"
												href="javascript:void(0)" role="button"
												data-bs-toggle="dropdown" aria-expanded="false"> <i
												class="ti ti-dots-vertical"></i>
											</a>
											<ul class="dropdown-menu">
												<!-- 마이페이지 -->
												<li><a
													class="dropdown-item d-flex align-items-center gap-2 border-bottom"
													th:href="@{/memberpage/showpage(memberId=${currentUserId})}"> <span> <i
															class="ti ti-settings fs-4"></i>
													</span>Setting
												</a></li>
												<!-- 로그아웃 -->
												<li><a
													class="dropdown-item d-flex align-items-center gap-2"
													th:href="@{/member/logout}"> <span> <i
															class="ti ti-login fs-4"></i>
													</span>Sign Out
												</a></li>
											</ul>
										</div>
									</div>

									<!-- 대화 상대 선택 및 시작 -->
									<div class="d-flex align-items-center mb-4">
										<select class="select2 form-control recipientSelect" >
											<option value="" disabled selected>대화 상대를 선택하세요</option>
											<option th:each="member : ${members}"
												th:value="${member.memberId}" th:text="${member.memberName}"></option>
										</select>
										<button id="startChat"
											class="btn btn-primary hstack gap-6 ms-2">
											<i class="ti ti-circle-plus ms-1 fs-5"></i>
										</button>
									</div>
								</div>

								<form class="position-relative mb-4">
									<input type="text" class="form-control search-chat py-2 ps-5"
										id="text-srh" placeholder="Search Contact" /> <i
										class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
								</form>

								<div class="app-chat" >
									<ul class="chat-users mb-0 mh-n100" id="chatList" data-simplebar>
										<!-- 1 채팅방 -->
										<li th:each="room : ${chatRooms}" th:text="${room.name}">
											<a href="javascript:void(0)" class="px-4 py-3 bg-hover-light-black d-flex align-items-start justify-content-between chat-user bg-light-subtle" id="chat_user_1" th:data-user-id="${room.id}">
								
											</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="w-70 w-xs-100 chat-container">
								<div class="chat-box-inner-part h-100">
									<div class="chat-not-selected h-100">
										<div
											class="d-flex align-items-center justify-content-center h-100 p-5">
											<div class="text-center">
												<span class="text-primary"> <i
													class="ti ti-message-dots fs-10"></i>
												</span>
												<h6 class="mt-2">Open chat from the list</h6>
											</div>
										</div>
									</div>

									<div class="chatting-box d-block">
										<div class="p-9 border-bottom chat-meta-user d-flex align-items-center justify-content-between">
											<div class="hstack gap-3 current-chat-user-name d-flex align-items-center">
												<div class="position-relative">
													<div class="d-flex align-items-center chatPartnerImages" >
														<!-- 프로필 이미지가 동적으로 추가될 부분 -->
													</div>
												</div>
												<div>
													<h6 class="mb-1 name fw-semibold chatPartnerName"></h6>
													
												</div>
											</div>
											<div class="dropdown">
												<a class="text-dark fs-6 nav-icon-hover"
													href="javascript:void(0)" role="button"
													data-bs-toggle="dropdown"x aria-expanded="false"> <i
													class="ti ti-dots-vertical"></i>
												</a>
												<ul class="dropdown-menu">
													<li><a
														class="dropdown-item d-flex align-items-center gap-2 border-bottom inviteButton"
														href="javascript:void(0)"> <span> <i
																class="ti ti-settings fs-4"></i>
														</span>대화 상대 초대
													</a></li>
													<!-- 로그아웃 -->
													<li><a
														class="dropdown-item d-flex align-items-center gap-2 leaveButton"
														href="javascript:void(0)" > <span> <i
																class="ti ti-login fs-4"></i>
														</span>나가기
													</a></li>
												</ul>
											</div>

											<!-- 초대 모달 -->
											<div id="inviteModal" class="modal" tabindex="-1" role="dialog">
											    <div class="modal-dialog" role="document">
											        <div class="modal-content">
											            <div class="modal-header">
											                <h5 class="modal-title">대화 상대 초대</h5>
											                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											            </div>
											            <div class="modal-body">
											                <div id="inviteMembersCheckboxes" class="form-group">
											                    <!-- 회원 목록이 체크박스로 동적으로 추가됩니다 -->
											                </div>
											            </div>
											            <div class="modal-footer">
											                <button type="button" class="btn btn-secondary" id="cancelInviteButton" data-bs-dismiss="modal">취소</button>
											                <button type="button" class="btn btn-primary" id="confirmInviteButton">선택하기</button>
											            </div>
											        </div>
											    </div>
											</div>
										</div>
										<div class="d-flex parent-chat-box app-chat-right">
											<div class="chat-box w-xs-100">
												<div class="chat-box-inner p-9" data-simplebar
													id="messageArea">
													<!-- 메시지 영역 -->
												</div>
												<div class="px-9 py-6 border-top chat-send-message-footer">
													<div
														class="d-flex align-items-center justify-content-between">
														<div class="d-flex align-items-center gap-2 w-85">
															<a class="position-relative nav-icon-hover z-index-5"
																href="javascript:void(0)"> <i
																class="ti ti-mood-smile text-dark bg-hover-primary fs-7"></i>
															</a> <input type="text"
																class="form-control message-type-box text-muted border-0 p-0 ms-2"
																id="messageInput" placeholder="Type a Message" />
														</div>
														<button id="sendButton" class="btn btn-primary">전송</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div
								class="offcanvas offcanvas-start user-chat-box chat-offcanvas"
								tabindex="-1" id="chat-sidebar"
								aria-labelledby="offcanvasExampleLabel">
								<div class="offcanvas-header">
									<h5 class="offcanvas-title" id="offcanvasExampleLabel">Chats</h5>
									<button type="button" class="btn-close"
										data-bs-dismiss="offcanvas" aria-label="Close"></button>
								</div>
								<div class="px-4 pt-9 pb-6">
									<div
										class="d-flex align-items-center justify-content-between mb-3">
										<div class="d-flex align-items-center">
											<!-- 로그인한 회원 프로필 -->
			                                <div class="position-relative">
			                                    <img alt="${currentUserName}" class="rounded-circle userProfileImage"width="54" height="54"  />
			                                    <span class="position-absolute bottom-0 end-0 p-1 badge rounded-pill bg-success">
			                                        <span class="visually-hidden">New alerts</span>
			                                    </span>
			                                </div>
			                                <div class="ms-3">
			                                    <h6 id="" class="fw-semibold mb-2 currentUserName">User Name</h6>
			                                    <p class="mb-0 fs-2 currentUserId"></p>
			                                </div>
		                                </div>
										<div class="dropdown">
											<a class="text-dark fs-6 nav-icon-hover"
												href="javascript:void(0)" role="button"
												data-bs-toggle="dropdown" aria-expanded="false"> <i
												class="ti ti-dots-vertical"></i>
											</a>
											<ul class="dropdown-menu">
												<li><a
													class="dropdown-item d-flex align-items-center gap-2 border-bottom"
													href="javascript:void(0)"> <span><i
															class="ti ti-settings fs-4"></i></span>Setting
												</a></li>
												<li><a
													class="dropdown-item d-flex align-items-center gap-2"
													href="javascript:void(0)"> <span><i
															class="ti ti-login fs-4"></i></span>Sign Out
												</a></li>
											</ul>
										</div>
									</div>
									<form class="position-relative mb-4">
										<input type="text" class="form-control search-chat py-2 ps-5"
											id="text-srh" placeholder="Search Contact" /> <i
											class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
									</form>
									<div class="app-chat" >
										<ul class="chat-users mb-0 mh-n100" data-simplebar>
											<!-- 1 채팅방 -->
											<li th:each="room : ${chatRooms}" th:text="${room.name}">
												<a href="javascript:void(0)" class="px-4 py-3 bg-hover-light-black d-flex align-items-start justify-content-between chat-user bg-light-subtle" id="chat_user_1" th:data-user-id="${room.id}">
									
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
      <!-- 본문 끝 -->
        <script>
          function handleColorTheme(e) {
            document.documentElement.setAttribute("data-color-theme", e);
          }
        </script>
        <button
          class="btn btn-primary p-3 rounded-circle d-flex align-items-center justify-content-center customizer-btn"
          type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <i class="icon ti ti-settings fs-7"></i>
        </button>

        <div class="offcanvas customizer offcanvas-end" tabindex="-1" id="offcanvasExample"
          aria-labelledby="offcanvasExampleLabel">
          <div class="d-flex align-items-center justify-content-between p-3 border-bottom">
            <h4 class="offcanvas-title fw-semibold" id="offcanvasExampleLabel">
              Settings
            </h4>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body h-n80" data-simplebar>
            <h6 class="fw-semibold fs-4 mb-2">Theme</h6>

            <div class="d-flex flex-row gap-3 customizer-box" role="group">
              <input type="radio" class="btn-check light-layout" name="theme-layout" id="light-layout"
                autocomplete="off" />
              <label class="btn p-9 btn-outline-primary rounded-2" for="light-layout">
                <i class="icon ti ti-brightness-up fs-7 me-2"></i>Light
              </label>

              <input type="radio" class="btn-check dark-layout" name="theme-layout" id="dark-layout"
                autocomplete="off" />
              <label class="btn p-9 btn-outline-primary rounded-2" for="dark-layout">
                <i class="icon ti ti-moon fs-7 me-2"></i>Dark
              </label>
            </div>

            <h6 class="mt-5 fw-semibold fs-4 mb-2">Theme Direction</h6>
            <div class="d-flex flex-row gap-3 customizer-box" role="group">
              <input type="radio" class="btn-check" name="direction-l" id="ltr-layout" autocomplete="off" />
              <label class="btn p-9 btn-outline-primary" for="ltr-layout">
                <i class="icon ti ti-text-direction-ltr fs-7 me-2"></i>LTR
              </label>

              <input type="radio" class="btn-check" name="direction-l" id="rtl-layout" autocomplete="off" />
              <label class="btn p-9 btn-outline-primary" for="rtl-layout">
                <i class="icon ti ti-text-direction-rtl fs-7 me-2"></i>RTL
              </label>
            </div>

            <h6 class="mt-5 fw-semibold fs-4 mb-2">Theme Colors</h6>

            <div class="d-flex flex-row flex-wrap gap-3 customizer-box color-pallete" role="group">
              <input type="radio" class="btn-check" name="color-theme-layout" id="Blue_Theme" autocomplete="off" />
              <label class="btn p-9 btn-outline-primary d-flex align-items-center justify-content-center"
                onclick="handleColorTheme('Blue_Theme')" for="Blue_Theme" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-title="BLUE_THEME">
                <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-1">
                  <i class="ti ti-check text-white d-flex icon fs-5"></i>
                </div>
              </label>

              <input type="radio" class="btn-check" name="color-theme-layout" id="Aqua_Theme" autocomplete="off" />
              <label class="btn p-9 btn-outline-primary d-flex align-items-center justify-content-center"
                onclick="handleColorTheme('Aqua_Theme')" for="Aqua_Theme" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-title="AQUA_THEME">
                <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-2">
                  <i class="ti ti-check text-white d-flex icon fs-5"></i>
                </div>
              </label>

              <input type="radio" class="btn-check" name="color-theme-layout" id="Purple_Theme" autocomplete="off" />
              <label class="btn p-9 btn-outline-primary d-flex align-items-center justify-content-center"
                onclick="handleColorTheme('Purple_Theme')" for="Purple_Theme" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-title="PURPLE_THEME">
                <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-3">
                  <i class="ti ti-check text-white d-flex icon fs-5"></i>
                </div>
              </label>

              <input type="radio" class="btn-check" name="color-theme-layout" id="green-theme-layout"
                autocomplete="off" />
              <label class="btn p-9 btn-outline-primary d-flex align-items-center justify-content-center"
                onclick="handleColorTheme('Green_Theme')" for="green-theme-layout" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-title="GREEN_THEME">
                <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-4">
                  <i class="ti ti-check text-white d-flex icon fs-5"></i>
                </div>
              </label>

              <input type="radio" class="btn-check" name="color-theme-layout" id="cyan-theme-layout"
                autocomplete="off" />
              <label class="btn p-9 btn-outline-primary d-flex align-items-center justify-content-center"
                onclick="handleColorTheme('Cyan_Theme')" for="cyan-theme-layout" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-title="CYAN_THEME">
                <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-5">
                  <i class="ti ti-check text-white d-flex icon fs-5"></i>
                </div>
              </label>

              <input type="radio" class="btn-check" name="color-theme-layout" id="orange-theme-layout"
                autocomplete="off" />
              <label class="btn p-9 btn-outline-primary d-flex align-items-center justify-content-center"
                onclick="handleColorTheme('Orange_Theme')" for="orange-theme-layout" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-title="ORANGE_THEME">
                <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-6">
                  <i class="ti ti-check text-white d-flex icon fs-5"></i>
                </div>
              </label>
            </div>

            <h6 class="mt-5 fw-semibold fs-4 mb-2">Layout Type</h6>
            <div class="d-flex flex-row gap-3 customizer-box" role="group">
              <div>
                <input type="radio" class="btn-check" name="page-layout" id="vertical-layout" autocomplete="off" />
                <label class="btn p-9 btn-outline-primary" for="vertical-layout">
                  <i class="icon ti ti-layout-sidebar-right fs-7 me-2"></i>Vertical
                </label>
              </div>
              <div>
                <input type="radio" class="btn-check" name="page-layout" id="horizontal-layout" autocomplete="off" />
                <label class="btn p-9 btn-outline-primary" for="horizontal-layout">
                  <i class="icon ti ti-layout-navbar fs-7 me-2"></i>Horizontal
                </label>
              </div>
            </div>

            <h6 class="mt-5 fw-semibold fs-4 mb-2">Container Option</h6>

            <div class="d-flex flex-row gap-3 customizer-box" role="group">
              <input type="radio" class="btn-check" name="layout" id="boxed-layout" autocomplete="off" />
              <label class="btn p-9 btn-outline-primary" for="boxed-layout">
                <i class="icon ti ti-layout-distribute-vertical fs-7 me-2"></i>Boxed
              </label>

              <input type="radio" class="btn-check" name="layout" id="full-layout" autocomplete="off" />
              <label class="btn p-9 btn-outline-primary" for="full-layout">
                <i class="icon ti ti-layout-distribute-horizontal fs-7 me-2"></i>Full
              </label>
            </div>

            <h6 class="fw-semibold fs-4 mb-2 mt-5">Sidebar Type</h6>
            <div class="d-flex flex-row gap-3 customizer-box" role="group">
              <a href="javascript:void(0)" class="fullsidebar">
                <input type="radio" class="btn-check" name="sidebar-type" id="full-sidebar" autocomplete="off" />
                <label class="btn p-9 btn-outline-primary" for="full-sidebar">
                  <i class="icon ti ti-layout-sidebar-right fs-7 me-2"></i>Full
                </label>
              </a>
              <div>
                <input type="radio" class="btn-check " name="sidebar-type" id="mini-sidebar" autocomplete="off" />
                <label class="btn p-9 btn-outline-primary" for="mini-sidebar">
                  <i class="icon ti ti-layout-sidebar fs-7 me-2"></i>Collapse
                </label>
              </div>
            </div>

            <h6 class="mt-5 fw-semibold fs-4 mb-2">Card With</h6>

            <div class="d-flex flex-row gap-3 customizer-box" role="group">
              <input type="radio" class="btn-check" name="card-layout" id="card-with-border" autocomplete="off" />
              <label class="btn p-9 btn-outline-primary" for="card-with-border">
                <i class="icon ti ti-border-outer fs-7 me-2"></i>Border
              </label>

              <input type="radio" class="btn-check" name="card-layout" id="card-without-border" autocomplete="off" />
              <label class="btn p-9 btn-outline-primary" for="card-without-border">
                <i class="icon ti ti-border-none fs-7 me-2"></i>Shadow
              </label>
            </div>
          </div>
        </div>
      
    </div>
  </div>
  <div class="dark-transparent sidebartoggler"></div>
  <script th:src="@{/js/vendor.min.js}"></script>
  <!-- Import Js Files -->
  <script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>
  <script th:src="@{/js/theme/app.horizontal.init.js}"></script>
  <script th:src="@{/js/theme/theme.js}"></script>
  <script th:src="@{/js/theme/app.min.js}"></script>
  <script th:src="@{/js/theme/sidebarmenu.js}"></script>

  <!-- solar icons -->

  <script th:src="@{/js/apps/app-chat.js}"></script>

</body>

</html>