<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:src="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/static/assets/css/styles.css" />
    <script th:src="@{/static/assets/js/jquery-3.7.1.min.js}"></script>
</head>

<body>
    <!-- 배너 시작-->
    <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
        <div class="card-body px-4 py-3">
            <div class="row align-items-center">
                <div class="col-9">
                    <h4 class="fw-semibold mb-8">User Profile</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="text-muted text-decoration-none" href="../minisidebar/index.html">Home</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">User Profile</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="text-center mb-n5">
                        <img src="../assets/images/breadcrumb/ChatBc.png" alt="modernize-img" class="img-fluid mb-n4" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 배너 끝 -->
    
    <!-- Import Js Files -->
    <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="/static/assets/js/theme/theme.js"></script>
    <script src="/static/assets/js/theme/app.min.js"></script>
</body>

</html>