<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="horizontal"
    xmlns:th="http://www.thymeleaf.org" xmlns:src="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>

    <title>디지털마스터 커뮤니티</title>
    <style>
        #loginLine {
            width: 1200px;
            margin-left: 139px;
            margin-right: 139px;
            display: flex;
            justify-content: flex-end;
            padding-right: 20px;
        }

        .loginLineLi {
            display: inline-block;
            margin-right: 7px
        }

        .loginLineA {
            font-size: 12.5px;
            color: #595959;
        }

        .loginLineA:hover {
            color: #5d87ff;
        }

        .h6-style {
            font-size: 0.79rem !important;
            font-weight: 500 !important;
            color: #13171e !important;
            margin: 0 !important;
            line-height: 1.2 !important;
            text-decoration: none !important;
        }

        .title-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(93, 135, 255, 0.1);
            width: 1000px;
            height: 60px;
            padding: 10px;
            box-sizing: border-box;
            font-size: 28px;
            color: rgb(93, 135, 255);
            border-radius: 8px;
            margin-bottom: 10px;
        }

        .title-container img {
            width: 40px;
            height: auto;
            margin-right: 15px;
            margin-left: 15px;
        }

        .form-control {
            width: 730px;
            font-size: 13px;
        }

        .form-horizontal {
            width: 1000px;
            margin: 250px auto;
            margin-top: 10px;
            font-size: 13px;
        }

        .buttonbox {
            display: flex;
            justify-content: center;
            height: 42px;
        }
    </style>
</head>

<body class="link-sidebar">
    <!-- Preloader -->
    <div class="preloader">
        <img src="/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <div id="main-wrapper">
        <!-- Sidebar Start -->
        <aside class="left-sidebar with-vertical">
            <!-- <div> -->
            <!-- ---------------------------------- -->
            <!-- Start Vertical Layout Sidebar -->
            <!-- ---------------------------------- -->
            <!-- <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="../horizontal/index.html" class="text-nowrap logo-img">
            <img src="/images/logos/dark-logo.svg" class="dark-logo" alt="Logo-Dark" />
            <img src="/images/logos/light-logo.svg" class="light-logo" alt="Logo-light" />
          </a>
          <a href="javascript:void(0)" class="sidebartoggler ms-auto text-decoration-none fs-5 d-block d-xl-none">
            <i class="ti ti-x"></i>
          </a>
        </div> -->
        </aside>


        <div class="page-wrapper">
            <!--  Header Start -->
            <header class="topbar">
                <div class="app-header with-horizontal">
                    <nav class="navbar navbar-expand-xl container-fluid p-0" style="margin-top: 10px !important;">
                        <ul class="navbar-nav align-items-center">
                            <!-- <li class="nav-item nav-icon-hover-bg rounded-circle d-flex d-xl-none ms-n2">
                <a class="nav-link sidebartoggler" id="sidebarCollapse" href="javascript:void(0)">
                  <i class="ti ti-menu-2"></i>
                </a>
              </li> -->
                            <li class="nav-item d-none d-xl-block">
                                <a th:href="@{/}" class="text-nowrap nav-link">
                                    <img src="/images/logos/dark-logo.svg" class="dark-logo" width="180"
                                        alt="modernize-img" />
                                    <!-- <img src="/images/logos/light-logo.svg" class="light-logo" width="180"
                                        alt="modernize-img" /> -->
                                </a>
                            </li>
                        </ul>

                        <!-- topbar 메뉴 -->
                        <ul class="navbar-nav quick-links d-none d-xl-flex align-items-center">
                            <!-- ------------------------------- -->
                            <!-- start apps Dropdown -->
                            <!-- ------------------------------- -->
                            <li class="nav-item nav-icon-hover-bg rounded w-auto dropdown d-none d-lg-flex">
                                <div class="hover-dd">
                                    <a class="nav-link" href="javascript:void(0)">
                                        수업 <span class="mt-1">
                                            <i class="ti ti-chevron-down fs-3"></i>
                                        </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-nav dropdown-menu-animate-up py-0"
                                        style="min-width: 340px !important">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="ps-7 pt-7">
                                                    <div class="border-bottom">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="position-relative">
                                                                    <a href="../horizontal/app-chat.html"
                                                                        class="d-flex align-items-center pb-9 position-relative"
                                                                        style="width: 195px !important">
                                                                        <div
                                                                            class="text-bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                                                            <img src="/images/main/code.png"
                                                                                alt="modernize-img" class="img-fluid"
                                                                                width="24" height="24" />
                                                                        </div>
                                                                        <div>
                                                                            <h6 class="mb-1 fw-semibold fs-3">
                                                                                코드 공유 게시판
                                                                            </h6>
                                                                            <span
                                                                                class="fs-2 d-block text-body-secondary">모르는
                                                                                코드 물어보세요!</span>
                                                                        </div>
                                                                    </a>
                                                                    <a href="../horizontal/app-invoice.html"
                                                                        class="d-flex align-items-center pb-9 position-relative"
                                                                        style="width: 280px !important">
                                                                        <div
                                                                            class="text-bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                                                            <img src="/images/main/project.png"
                                                                                alt="modernize-img" class="img-fluid"
                                                                                width="24" height="24" />
                                                                        </div>
                                                                        <div>
                                                                            <h6 class="mb-1 fw-semibold fs-3">프로젝트 공유
                                                                                게시판
                                                                            </h6>
                                                                            <span
                                                                                class="fs-2 d-block text-body-secondary">지난
                                                                                기수들의 프로젝트를 확인해보세요!</span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item nav-icon-hover-bg rounded w-auto dropdown d-none d-lg-flex">
                                <div class="hover-dd">
                                    <a class="nav-link" href="javascript:void(0)">
                                        취업 <span class="mt-1">
                                            <i class="ti ti-chevron-down fs-3"></i>
                                        </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-nav dropdown-menu-animate-up py-0"
                                        style="min-width: 340px !important">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="ps-7 pt-7">
                                                    <div class="border-bottom">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="position-relative">
                                                                    <a href="../horizontal/app-chat.html"
                                                                        class="d-flex align-items-center pb-9 position-relative"
                                                                        style="width: 225px !important">
                                                                        <div
                                                                            class="text-bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                                                            <img src="/images/main/job.png"
                                                                                alt="modernize-img" class="img-fluid"
                                                                                width="24" height="24" />
                                                                        </div>
                                                                        <div>
                                                                            <h6 class="mb-1 fw-semibold fs-3">
                                                                                취업 공고 게시판
                                                                            </h6>
                                                                            <span
                                                                                class="fs-2 d-block text-body-secondary">최신
                                                                                채용 정보를 확인하세요!</span>
                                                                        </div>
                                                                    </a>
                                                                    <a href="../horizontal/app-invoice.html"
                                                                        class="d-flex align-items-center pb-9 position-relative"
                                                                        style="width: 266px !important">
                                                                        <div
                                                                            class="text-bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                                                            <img src="/images/main/recruit.png"
                                                                                alt="modernize-img" class="img-fluid"
                                                                                width="24" height="24" />
                                                                        </div>
                                                                        <div>
                                                                            <h6 class="mb-1 fw-semibold fs-3">공모전/프로젝트
                                                                                구인 게시판
                                                                            </h6>
                                                                            <span
                                                                                class="fs-2 d-block text-body-secondary">정보를
                                                                                확인하고 팀원을 모집해보세요!</span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item nav-icon-hover-bg rounded w-auto dropdown d-none d-lg-flex">
                                <div class="hover-dd">
                                    <a class="nav-link" href="javascript:void(0)">
                                        자유 <span class="mt-1">
                                            <i class="ti ti-chevron-down fs-3"></i>
                                        </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-nav dropdown-menu-animate-up py-0"
                                        style="min-width: 340px !important">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="ps-7 pt-7">
                                                    <div class="border-bottom">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="position-relative">
                                                                    <a href="../horizontal/app-chat.html"
                                                                        class="d-flex align-items-center pb-9 position-relative"
                                                                        style="width: 230px !important">
                                                                        <div
                                                                            class="text-bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                                                            <img src="/images/main/board.png"
                                                                                alt="modernize-img" class="img-fluid"
                                                                                width="24" height="24" />
                                                                        </div>
                                                                        <div>
                                                                            <h6 class="mb-1 fw-semibold fs-3">
                                                                                자유 게시판
                                                                            </h6>
                                                                            <span
                                                                                class="fs-2 d-block text-body-secondary">자유롭게
                                                                                게시글을 올려주세요!</span>
                                                                        </div>
                                                                    </a>
                                                                    <a href="../horizontal/app-invoice.html"
                                                                        class="d-flex align-items-center pb-9 position-relative"
                                                                        style="width: 266px !important">
                                                                        <div
                                                                            class="text-bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                                                            <img src="/images/main/info.png"
                                                                                alt="modernize-img" class="img-fluid"
                                                                                width="24" height="24" />
                                                                        </div>
                                                                        <div>
                                                                            <h6 class="mb-1 fw-semibold fs-3">정보 게시판
                                                                            </h6>
                                                                            <span
                                                                                class="fs-2 d-block text-body-secondary">세상의
                                                                                모든 정보를 확인하세요!</span>
                                                                        </div>
                                                                    </a>
                                                                    <a href="../horizontal/app-invoice.html"
                                                                        class="d-flex align-items-center pb-9 position-relative"
                                                                        style="width: 266px !important">
                                                                        <div
                                                                            class="text-bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                                                            <img src="/images/main/classroom.png"
                                                                                alt="modernize-img" class="img-fluid"
                                                                                width="24" height="24" />
                                                                        </div>
                                                                        <div>
                                                                            <h6 class="mb-1 fw-semibold fs-3">기수별 게시판
                                                                            </h6>
                                                                            <span
                                                                                class="fs-2 d-block text-body-secondary">기수별로
                                                                                소통하고 정보를 공유하세요!</span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- ------------------------------- -->
                            <!-- end apps Dropdown -->
                            <!-- ------------------------------- -->
                            <li class="nav-item dropdown-hover d-none d-lg-block">
                                <a class="nav-link" th:href="@{/member/adminPageNote}">공지사항</a>
                            </li>
                            <th:block sec:authorize="hasRole('ADMIN')">
                                <li class="nav-item dropdown-hover d-none d-lg-block">
                                    <a class="nav-link" th:href="@{/admin/adminPage}">관리자 페이지</a>
                                </li>
                            </th:block>
                        </ul>
                        <!-- topbar 메뉴 끝-->



                        <!-- 채팅/마이페이지 시작 -->
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                            <div class="d-flex align-items-center justify-content-between px-0 px-xl-8">
                                <a href="javascript:void(0)"
                                    class="nav-link round-40 p-1 ps-0 d-flex d-xl-none align-items-center justify-content-center"
                                    type="button" data-bs-toggle="offcanvas" data-bs-target="#mobilenavbar"
                                    aria-controls="offcanvasWithBothOptions">
                                    <i class="ti ti-align-justified fs-7"></i>
                                </a>
                                <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-center">
                                    <!-- 다크모드 -->
                                    <!-- <li class="nav-item nav-icon-hover-bg rounded-circle">
                                        <a class="nav-link moon dark-layout" href="javascript:void(0)">
                                            <i class="ti ti-moon moon"></i>
                                        </a>
                                        <a class="nav-link sun light-layout" href="javascript:void(0)">
                                            <i class="ti ti-sun sun"></i>
                                        </a>
                                    </li> -->
                                    <!-- 채팅 -->
                                    <li class="nav-item nav-icon-hover-bg rounded-circle">
                                        <a class="nav-link position-relative" href="javascript:void(0)"
                                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                            aria-controls="offcanvasRight">
                                            <img src="/images/main/chat.png" alt="modernize-img"
                                                style="width: 30.2px; height: 30px;" />
                                        </a>
                                    </li>
                                    <!-- 마이페이지 -->
                                    <li class="nav-item nav-icon-hover-bg rounded-circle">
                                        <!-- 링크 수정 필요-->
                                        <a class="nav-link position-relative"
                                            th:href="@{/memberpage/showpage(memberId=${#authentication.name})}">
                                            <!-- <a class="nav-link position-relative" href="/memberpage/showpage?memberId=ssehn9327"> -->
                                            <img src="/images/profile/user-1.jpg" alt="modernize-img"
                                                style="width: 30.2px; height: 30px;" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- 채팅/마이페이지 끝-->
                    </nav>
                    <!-- 회원가입/로그인 div 시작 -->
                    <div id="loginLine">
                        <ul>
                            <li class="loginLineLi" sec:authorize="isAnonymous()">
                                <a type="submit" th:href="@{/member/join}" class="loginLineA">회원가입
                                </a>
                            </li>
                            <li class="loginLineLi" sec:authorize="isAnonymous()">|</li> <!-- 구분자 추가 -->
                            <li class="loginLineLi" sec:authorize="isAnonymous()">
                                <a type="submit" th:href="@{/member/login}" class="loginLineA">로그인
                                </a>
                            </li>
                            <li class="loginLineLi" sec:authorize="isAuthenticated()">
                                <a type="submit" th:href="@{/member/logout}" class="loginLineA">로그아웃
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 회원가입/로그인 div 끝 -->
                </div>
            </header>
            <!--  Header End -->


            <!-- 여기부터 본문 시작 -->
            <div class="body-wrapper" style="padding-top: 120px;">
                <div class="container-fluid" style="padding-top: 20px !important; ">
                    <!-- 파란색 부분 시작 -->
                    <!-- <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
                        <div class="card-body px-4 py-3">
                            <div class="row align-items-center">
                                <div class="col-9">
                                    <h4 class="fw-semibold mb-8">디지털 마스터 커뮤니티</h4>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item" aria-current="page">환영합니다!</li>
                                        </ol>
                                    </nav>
                                </div>
                                <div class="col-3">
                                    <div class="text-center mb-n5" style="height: 100%;">
                                        <img src="/images/main/coding.png" alt="modernize-img"
                                            class="img-fluid mb-n4" style="padding-right: 30px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- 파란색 부분 끝 -->
                    <!-- 게시판 보여주기 시작 -->
                    <form class="form-horizontal r-separator">
                        <!-- 공지사항 작성 시작 -->
                        <div class="title-container">
                            <img src="/images/note.png" alt="첨부파일">
                            공지사항 상세 페이지
                            <img src="/images/note.png" alt="첨부파일">
                        </div>
                        <div class="card-body text-bg-light">
                            <input type="hidden" name="adminNoteNum" th:value="${adminNote.adminNoteNum}">
                            <div class="form-group mb-0">
                                <div class="row align-items-center">
                                    <label for="inputText4" class="col-3 text-end  col-form-label">제목</label>
                                    <div class="col-9 border-start pb-2 pt-2">
                                        <span th:text="${adminNote.adminNoteTitle}" class="form-control"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="row align-items-center">
                                    <label for="inputText4" class="col-3 text-end  col-form-label">작성일</label>
                                    <div class="col-9 border-start pb-2 pt-2">
                                        <span class="form-control"
                                            th:text="*{#temporals.format(adminNote.adminNoteCreateDate, 'yyyy-MM-dd')}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="row align-items-center">
                                    <label for="inputText4" class="col-3 text-end  col-form-label">수정일</label>
                                    <div class="col-9 border-start pb-2 pt-2">
                                        <!-- <span th:text="${adminNote.adminNoteUpdateDate}" class="form-control"></span> -->
                                        <span class="form-control"
                                            th:text="*{#temporals.format(adminNote.adminNoteUpdateDate, 'yyyy-MM-dd')}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="row align-items-center">
                                    <label for="inputText4" class="col-3 text-end  col-form-label">내용</label>
                                    <div class="col-9 border-start pb-2 pt-2">
                                        <pre class="form-control" rows="10"
                                            style="height: 380px;">[[ ${adminNote.adminNoteContent} ]]</pre>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="row align-items-center">
                                    <label for="inputGroupFile01" class="col-3 text-end  col-form-label">첨부파일
                                    </label>
                                    <div class="col-9 border-start pb-2 pt-2">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <!-- <input type="file" class="form-control" id="uploadFile" name="uploadFile" /> -->
                                                <span th:if="${adminNote.adminNoteOriginalFileName != null}">
                                                    <a th:href="@{/admin/adminFileDownload(adminNoteNum=${adminNote.adminNoteNum})}"
                                                        th:text="${adminNote.adminNoteOriginalFileName}">bts.jpg</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 저장/취소 버튼 시작 -->
                            <div class="buttonbox">
                                <th:block sec:authorize="hasRole('ADMIN')">
                                    <a type="submit" class="btn btn-secondary" style="margin-right: 5px;"
                                        th:href="@{/admin/adminPageNoteUpdate(adminNoteNum=${adminNote.adminNoteNum})}">수
                                        정
                                    </a>
                                    <a th:href="@{/admin/adminPageNoteDelete(adminNoteNum=${adminNote.adminNoteNum})}"
                                        class="btn btn-rounded btn-danger" style="margin-right: 5px;">
                                        삭 제
                                    </a>
                                </th:block>
                                <a th:href="@{/member/adminPageNote}" class="btn btn-rounded btn-info">목 록</a>
                            </div>
                            <!-- 저장/취소 버튼 끝 -->
                        </div>
                        <!-- 공지사항 작성 끝 -->
                    </form>

                </div>
            </div>
            <!-- 본문 끝 -->
            <script>
                function handleColorTheme(e) {
                    document.documentElement.setAttribute("data-color-theme", e);
                }
            </script>
            <!-- <button
                    class="btn btn-primary p-3 rounded-circle d-flex align-items-center justify-content-center customizer-btn"
                    type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                    aria-controls="offcanvasExample">
                    <i class="icon ti ti-settings fs-7"></i>
                </button> -->

            <!-- <div class="offcanvas customizer offcanvas-end" tabindex="-1" id="offcanvasExample"
                    aria-labelledby="offcanvasExampleLabel">
                    <div class="d-flex align-items-center justify-content-between p-3 border-bottom">
                        <h4 class="offcanvas-title fw-semibold" id="offcanvasExampleLabel">
                            Settings
                        </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body h-n80" data-simplebar>
                        <h6 class="fw-semibold fs-4 mb-2">Theme</h6>

                        <div class="d-flex flex-row gap-3 customizer-box" role="group">
                            <input type="radio" class="btn-check light-layout" name="theme-layout" id="light-layout"
                                autocomplete="off" />
                            <label class="btn p-9 btn-outline-primary rounded-2" for="light-layout">
                                <i class="icon ti ti-brightness-up fs-7 me-2"></i>Light
                            </label>

                            <input type="radio" class="btn-check dark-layout" name="theme-layout" id="dark-layout"
                                autocomplete="off" />
                            <label class="btn p-9 btn-outline-primary rounded-2" for="dark-layout">
                                <i class="icon ti ti-moon fs-7 me-2"></i>Dark
                            </label>
                        </div>

                        <h6 class="mt-5 fw-semibold fs-4 mb-2">Theme Direction</h6>
                        <div class="d-flex flex-row gap-3 customizer-box" role="group">
                            <input type="radio" class="btn-check" name="direction-l" id="ltr-layout"
                                autocomplete="off" />
                            <label class="btn p-9 btn-outline-primary" for="ltr-layout">
                                <i class="icon ti ti-text-direction-ltr fs-7 me-2"></i>LTR
                            </label>

                            <input type="radio" class="btn-check" name="direction-l" id="rtl-layout"
                                autocomplete="off" />
                            <label class="btn p-9 btn-outline-primary" for="rtl-layout">
                                <i class="icon ti ti-text-direction-rtl fs-7 me-2"></i>RTL
                            </label>
                        </div>

                        <h6 class="mt-5 fw-semibold fs-4 mb-2">Theme Colors</h6>

                        <div class="d-flex flex-row flex-wrap gap-3 customizer-box color-pallete" role="group">
                            <input type="radio" class="btn-check" name="color-theme-layout" id="Blue_Theme"
                                autocomplete="off" />
                            <label class="btn p-9 btn-outline-primary d-flex align-items-center justify-content-center"
                                onclick="handleColorTheme('Blue_Theme')" for="Blue_Theme" data-bs-toggle="tooltip"
                                data-bs-placement="top" data-bs-title="BLUE_THEME">
                                <div
                                    class="color-box rounded-circle d-flex align-items-center justify-content-center skin-1">
                                    <i class="ti ti-check text-white d-flex icon fs-5"></i>
                                </div>
                            </label>

                            <input type="radio" class="btn-check" name="color-theme-layout" id="Aqua_Theme"
                                autocomplete="off" />
                            <label class="btn p-9 btn-outline-primary d-flex align-items-center justify-content-center"
                                onclick="handleColorTheme('Aqua_Theme')" for="Aqua_Theme" data-bs-toggle="tooltip"
                                data-bs-placement="top" data-bs-title="AQUA_THEME">
                                <div
                                    class="color-box rounded-circle d-flex align-items-center justify-content-center skin-2">
                                    <i class="ti ti-check text-white d-flex icon fs-5"></i>
                                </div>
                            </label>

                            <input type="radio" class="btn-check" name="color-theme-layout" id="Purple_Theme"
                                autocomplete="off" />
                            <label class="btn p-9 btn-outline-primary d-flex align-items-center justify-content-center"
                                onclick="handleColorTheme('Purple_Theme')" for="Purple_Theme" data-bs-toggle="tooltip"
                                data-bs-placement="top" data-bs-title="PURPLE_THEME">
                                <div
                                    class="color-box rounded-circle d-flex align-items-center justify-content-center skin-3">
                                    <i class="ti ti-check text-white d-flex icon fs-5"></i>
                                </div>
                            </label>

                            <input type="radio" class="btn-check" name="color-theme-layout" id="green-theme-layout"
                                autocomplete="off" />
                            <label class="btn p-9 btn-outline-primary d-flex align-items-center justify-content-center"
                                onclick="handleColorTheme('Green_Theme')" for="green-theme-layout"
                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="GREEN_THEME">
                                <div
                                    class="color-box rounded-circle d-flex align-items-center justify-content-center skin-4">
                                    <i class="ti ti-check text-white d-flex icon fs-5"></i>
                                </div>
                            </label>

                            <input type="radio" class="btn-check" name="color-theme-layout" id="cyan-theme-layout"
                                autocomplete="off" />
                            <label class="btn p-9 btn-outline-primary d-flex align-items-center justify-content-center"
                                onclick="handleColorTheme('Cyan_Theme')" for="cyan-theme-layout"
                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="CYAN_THEME">
                                <div
                                    class="color-box rounded-circle d-flex align-items-center justify-content-center skin-5">
                                    <i class="ti ti-check text-white d-flex icon fs-5"></i>
                                </div>
                            </label>

                            <input type="radio" class="btn-check" name="color-theme-layout" id="orange-theme-layout"
                                autocomplete="off" />
                            <label class="btn p-9 btn-outline-primary d-flex align-items-center justify-content-center"
                                onclick="handleColorTheme('Orange_Theme')" for="orange-theme-layout"
                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="ORANGE_THEME">
                                <div
                                    class="color-box rounded-circle d-flex align-items-center justify-content-center skin-6">
                                    <i class="ti ti-check text-white d-flex icon fs-5"></i>
                                </div>
                            </label>
                        </div>

                        <h6 class="mt-5 fw-semibold fs-4 mb-2">Layout Type</h6>
                        <div class="d-flex flex-row gap-3 customizer-box" role="group">
                            <div>
                                <input type="radio" class="btn-check" name="page-layout" id="vertical-layout"
                                    autocomplete="off" />
                                <label class="btn p-9 btn-outline-primary" for="vertical-layout">
                                    <i class="icon ti ti-layout-sidebar-right fs-7 me-2"></i>Vertical
                                </label>
                            </div>
                            <div>
                                <input type="radio" class="btn-check" name="page-layout" id="horizontal-layout"
                                    autocomplete="off" />
                                <label class="btn p-9 btn-outline-primary" for="horizontal-layout">
                                    <i class="icon ti ti-layout-navbar fs-7 me-2"></i>Horizontal
                                </label>
                            </div>
                        </div>

                        <h6 class="mt-5 fw-semibold fs-4 mb-2">Container Option</h6>

                        <div class="d-flex flex-row gap-3 customizer-box" role="group">
                            <input type="radio" class="btn-check" name="layout" id="boxed-layout" autocomplete="off" />
                            <label class="btn p-9 btn-outline-primary" for="boxed-layout">
                                <i class="icon ti ti-layout-distribute-vertical fs-7 me-2"></i>Boxed
                            </label>

                            <input type="radio" class="btn-check" name="layout" id="full-layout" autocomplete="off" />
                            <label class="btn p-9 btn-outline-primary" for="full-layout">
                                <i class="icon ti ti-layout-distribute-horizontal fs-7 me-2"></i>Full
                            </label>
                        </div>

                        <h6 class="fw-semibold fs-4 mb-2 mt-5">Sidebar Type</h6>
                        <div class="d-flex flex-row gap-3 customizer-box" role="group">
                            <a href="javascript:void(0)" class="fullsidebar">
                                <input type="radio" class="btn-check" name="sidebar-type" id="full-sidebar"
                                    autocomplete="off" />
                                <label class="btn p-9 btn-outline-primary" for="full-sidebar">
                                    <i class="icon ti ti-layout-sidebar-right fs-7 me-2"></i>Full
                                </label>
                            </a>
                            <div>
                                <input type="radio" class="btn-check " name="sidebar-type" id="mini-sidebar"
                                    autocomplete="off" />
                                <label class="btn p-9 btn-outline-primary" for="mini-sidebar">
                                    <i class="icon ti ti-layout-sidebar fs-7 me-2"></i>Collapse
                                </label>
                            </div>
                        </div>

                        <h6 class="mt-5 fw-semibold fs-4 mb-2">Card With</h6>

                        <div class="d-flex flex-row gap-3 customizer-box" role="group">
                            <input type="radio" class="btn-check" name="card-layout" id="card-with-border"
                                autocomplete="off" />
                            <label class="btn p-9 btn-outline-primary" for="card-with-border">
                                <i class="icon ti ti-border-outer fs-7 me-2"></i>Border
                            </label>

                            <input type="radio" class="btn-check" name="card-layout" id="card-without-border"
                                autocomplete="off" />
                            <label class="btn p-9 btn-outline-primary" for="card-without-border">
                                <i class="icon ti ti-border-none fs-7 me-2"></i>Shadow
                            </label>
                        </div>
                    </div>
                </div> -->
            <!-- </div> -->
        </div>
    </div>
    <div class="dark-transparent sidebartoggler"></div>
    <!-- Import Js Files -->
    <!-- <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="/js/theme/app.horizontal.init.js"></script>
    <script src="/js/theme/theme.js"></script>
    <script src="/js/theme/app.min.js"></script>
    <script src="/js/theme/sidebarmenu.js"></script> -->

    <!-- solar icons -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script> -->
    <!-- <script src="/libs/fullcalendar/index.global.min.js"></script>
    <script src="/js/apps/chat.js"></script> -->

    <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="/js/theme/app.init.js"></script>
    <script src="/js/theme/theme.js"></script>
    <script src="/js/theme/app.min.js"></script>
    <script src="/js/vendor.min.js"></script>
    <script src="/js/theme/sidebarmenu.js"></script>
    <script src="/js/theme/app.horizontal.init.js"></script>

    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="/libs/fullcalendar/index.global.min.js"></script>
    <script src="/js/apps/contact.js"></script>
</body>

</html>