<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:src="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/static/assets/css/styles.css" />
    <script th:src="@{/static/assets/js/jquery-3.7.1.min.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
            $("#changePw").on('click', changePw);
        })

        function changePw() {
            let newmemberPw = $('#newmemberPw').val()
            let newmemberPwck = $('#newmemberPwck').val()

            // 이전 경고 메시지 지우기
            $("#confirmnewmemberPw").html("");
            $("#confirmnewmemberPwck").html("");
            $("#confirmnewmemberPwCheck").html("");
            $("#warnnewPw").hide();
            $("#warnnewPwck").hide();
            $("#warnnewPwck2").hide();

            //새 비밀번호 유효성 검사
            if (newmemberPw.trim().length == 0) {
                $("#confirmnewmemberPw").css("color", "red");
                $("#confirmnewmemberPw").html("새 비밀번호를 입력하세요.");
                $("#warnnewPw").show();
                return;
            }
            if (newmemberPwck.trim().length == 0) {
                $("#confirmnewmemberPwck").css("color", "red");
                $("#confirmnewmemberPwck").html("새 비밀번호 확인을 입력하세요.");
                $("#warnnewPwck").show();
                return;
            }
            if (newmemberPwck != newmemberPw) {
                $("#confirmnewmemberPwCheck").css("color", "red");
                $("#confirmnewmemberPwCheck").html("비밀번호가 일치하지 않습니다.");
                $("#warnnewPwck2").show();
                return;
            }

            $.ajax({
                url: "/member/changePw"
                , type: "POST"
                , data: { "newmemberPw": newmemberPw, "loginName": /*[[${loginName}]]*/}
                , success: function (data) {
                    console.log(data);
                    if (!data) {
                        document.getElementById('modalMessage2').textContent = "비밀번호 변경에 실패하였습니다.";
                        const myModal = new bootstrap.Modal(document.getElementById('al-danger-alert'));
                        myModal.show();

                        // 모달의 continue 버튼 클릭 시 사용자가 쓴 거 지움
                        document.getElementById('conbtn2').addEventListener('click', function () {
                            $("#newmemberPw").val("");
                            $("#newmemberPwck").val("");
                        });
                    } else {
                        document.getElementById('modalMessage').textContent = "비밀번호가 변경되었습니다.";
                        const myModal = new bootstrap.Modal(document.getElementById('al-success-alert'));
                        myModal.show();

                        // 모달의 continue 버튼 클릭 시 사용자가 쓴 거 지움
                        document.getElementById('conbtn').addEventListener('click', function () {
                            $("#newmemberPw").val("");
                            $("#newmemberPwck").val("");
                        });
                    }
                },//end function data
                error: function () {
                    document.getElementById('modalMessage2').textContent = "서버 오류가 발생했습니다. 다시 시도해 주세요.";
                    const myModal = new bootstrap.Modal(document.getElementById('al-danger-alert'));
                    myModal.show();
                }
            });
        };//end changePw
        /*]]>*/
    </script>
</head>

<body>
    <!-- 맨 위 로고 -->
    <div class="preloader">
        <img src="/static/assets/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <div id="main-wrapper" class="auth-customizer-none">
        <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 w-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3 auth-card">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a th:href="@{/}" class="text-nowrap logo-img text-center d-block mb-5 w-100">
                                    <img src="/static/assets/images/logos/dark-logo.svg" class="dark-logo"
                                        alt="Logo-Dark" />
                                </a>
                                <!-- <h4 class="form-label">[[${loginName}]]님 비밀번호 변경</h4> -->
                                <form th:action="@{/member/findIdResult}" method="POST" id="idForm">
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">새 비밀번호</label>
                                        <input type="password" class="form-control" id="newmemberPw" name="newmemberPw"
                                            aria-describedby="emailHelp">
                                        <img id="warnnewPw" src="/static/assets/images/member/ico_warning.png" alt="경고"
                                            style="display: none; width: 15px; height: 15px;">
                                        <span id="confirmnewmemberPw" style="font-size: 0.8em;"></span>
                                    </div>
                                    <div class="mb-4">
                                        <label for="exampleInputPassword1" class="form-label">새 비밀번호 확인</label>
                                        <input type="password" class="form-control" id="newmemberPwck" name="newmemberPwck">
                                        <img id="warnnewPwck" src="/static/assets/images/member/ico_warning.png" alt="경고"
                                            style="display: none; width: 15px; height: 15px;">
                                        <span id="confirmnewmemberPwck" style="font-size: 0.8em;"></span>
                                        <img id="warnnewPwck2" src="/static/assets/images/member/ico_warning.png" alt="경고"
                                            style="display: none; width: 15px; height: 15px;">
                                        <span id="confirmnewmemberPwCheck" style="font-size: 0.8em;"></span>
                                    </div>
                                    <input type="button" id="changePw" value="비밀번호 변경"
                                        class="btn btn-primary w-100 py-8 mb-4 rounded-2">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 아이디 찾기 성공 시 나올 모달 창 -->
        <div class="modal fade" id="al-success-alert" tabindex="-1" aria-labelledby="vertical-center-modal"
            aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content modal-filled bg-success-subtle text-success">
                    <div class="modal-body p-4">
                        <div class="text-center text-success">
                            <!-- <i class="ti ti-circle-check fs-7"></i> -->
                            <img src="/static/assets/images/member/modelCheck.png" alt="모달체크"
                                style="width: 30px; height: 30px;">
                            <h4 class="mt-2">비밀번호 변경 확인</h4>
                            <p class="mt-3 text-success-50" id="modalMessage"></p>
                            <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal" id="conbtn">
                                Continue </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 아이디 찾기 실패 시 나올 모달 창 -->
        <div class="modal fade" id="al-danger-alert" tabindex="-1" aria-labelledby="vertical-center-modal"
            aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content modal-filled bg-danger-subtle">
                    <div class="modal-body p-4">
                        <div class="text-center text-danger">
                            <img src="/static/assets/images/member/modelfailCheck.png" alt="모달체크"
                                style="width: 30px; height: 30px;">
                            <h4 class="mt-2">비밀번호 변경 확인</h4>
                            <p class="mt-3 text-success-50" id="modalMessage2"></p>
                            <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal" id="conbtn2">
                                Continue
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
        <!-- Import Js Files -->
        <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/static/assets/libs/simplebar/dist/simplebar.min.js"></script>
        <script src="/static/assets/js/theme/app.init.js"></script>
        <script src="/static/assets/js/theme/theme.js"></script>
        <script src="/static/assets/js/theme/app.min.js"></script>
</body>

</html>