<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:src="http://www.thymeleaf.org/extras/spring-security"   
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기 확인</title>
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!--css  설정-->
    <link rel="stylesheet" th:href="@{/css/user.css}"> <!-- 로그인할 때 써먹을거임 -->
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
</head>
<body>
    <div class="container">
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/images/festival.png}" alt="로고"></a>
            <h2>비밀번호 찾기 확인</h2>
        </div>
    </div><!--container 끝-->

    <p class="title">회원님의 임시 비밀번호를 이메일로 발송했습니다.</p>
    <div class="result-box">
	<p th:text="${newPw}"></p>
	<p th:text="${msg}"></p>
	
	<a th:href="@{/member/login}" class="btn btn-secondary">로그인 하기</a>
</body>
</html>