<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:src="http://www.thymeleaf.org/extras/spring-security"   
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!--css  설정-->
    <link rel="stylesheet" th:href="@{ /css/user.css}"> <!--로그인할 때 써먹을거임-->
</head>
<body>
    <div class="container">
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/images/festival.png}" alt="로고"></a>
            <h2>로그인</h2>
        </div>
    </div><!--container 끝-->

    <div class="content">
        <form th:action="@{/member/loginProc}" method="POST">
            <div class="section pointColor">
                <div class="article">
                    <ul>
                        <li>
                            <i class="fa-solid fa-id-card"></i>
                            <input type="text" name="memberId" placeholder="ID">
                        </li>
                        <li>
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" name="memberPw" placeholder="Password">
                        </li>
                    </ul>
                    <br>

                    <!--에러 발생시 출력-->
                    <th:block th:if="${error}">
                        <div th:text="${errMessage}" style="font-size: 0.8em; color:red;"></div>
                    </th:block>

                    <div class="btns">
                        <input type="submit" id="submitBtn" value="로그인" class="btn btn-primary">
                        <input type="reset" id="resetBtn" value="초기화" class="btn btn-secondary">
						<a th:href="@{/member/findId}" class="btn btn-secondary">아이디 찾기</a>
                        <a th:href="@{/member/findPw}" class="btn btn-secondary">비밀번호 찾기</a>
                    </div>

                </div>
            </div>
        </form>
    </div>
</body>
</html>