<!DOCTYPE html>
<html lang="ko" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical"
    xmlns:th="http://www.thymeleaf.org" xmlns:src="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>관리자 페이지 공지사항</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script th:src="@{/static/js/jquery-3.7.1.min.js}"></script>
</head>

<body class="link-sidebar">
    <div class="body-wrapper">
        <div class="container-fluid" style="max-width: 1200px;">
            <!-- 배너 시작-->
            <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
                <div class="card-body px-4 py-3">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h4 class="fw-semibold mb-8">Admin Page</h4>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a class="text-muted text-decoration-none" th:href="@{/}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item" aria-current="page">Admin Page</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-3">
                            <div class="text-center mb-n5">
                                <img src="/static/images/breadcrumb/ChatBc.png" alt="modernize-img"
                                    class="img-fluid mb-n4" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 배너 밑 시작 본문 시작 전 -->
            <div class="card overflow-hidden">
                <div class="card-body p-0">
                    <img src="/static/images/backgrounds/profilebg.jpg" alt="modernize-img" class="img-fluid">
                    <!-- 아이템 센터로 놓는거 필수 -->
                    <div class="row align-items-center">
                        <!-- 방문자 수 시작-->
                        <div class="col-lg-4 order-lg-1 order-2">
                            <div class="d-flex align-items-center justify-content-around m-4">
                            </div>
                        </div>
                        <!-- 방문자 수 끝 -->
                        <!--프로필사진 시작-->
                        <div class="col-lg-4 mt-n3 order-lg-2 order-1">
                            <div class="mt-n5">
                                <div class="d-flex align-items-center justify-content-center mb-2">
                                    <div class="d-flex align-items-center justify-content-center round-110">
                                        <div
                                            class="border border-4 border-white d-flex align-items-center justify-content-center rounded-circle overflow-hidden round-100">
                                            <img src="/static/images/profile/user-1.jpg" alt="modernize-img"
                                                class="w-100 h-100">
                                        </div>
                                    </div>
                                </div>
                                <!-- 관리자 이름 적으면 됨 -->
                                <div class="text-center">
                                    <h5 class="mb-0">디마 커뮤니티 관리자</h5>
                                    <p class="mb-0">천재</p>
                                </div>
                            </div>
                        </div>
                        <!--프로필사진 끝-->
                    </div>
                    <!-- 아이템 센터 끝 -->
                    <!-- 사이드바 대신  -->
                    <ul
                        class="nav nav-pills user-profile-tab justify-content-end mt-2 bg-primary-subtle rounded-2 rounded-top-0">
                        <a type="submit" th:href="@{/admin/adminPage}"
                            style="display: flex; align-items: center; font-size: 16.5px; margin: 12px;">
                            <i class="ti ti-user-circle fs-5" style="margin-right: 8px;"></i>
                            <span class="d-none d-md-block">회원 관리</span>
                        </a>
                        <a type="submit" th:href="@{/admin/adminPageBoard}"
                            style="display: flex; align-items: center; font-size: 16.5px;  margin: 12px;">
                            <i class="ti ti-heart fs-5" style="margin-right: 8px;"></i>
                            <span class="d-none d-md-block">게시글 관리</span>
                        </a>
                        <a type="submit" th:href="@{/admin/adminPageNote}"
                            style="display: flex; align-items: center; font-size: 16.5px;  margin: 12px;">
                            <i class="ti ti-user-circle fs-5" style="margin-right: 8px;"></i>
                            <span class="d-none d-md-block">공지사항</span>
                        </a>
                    </ul>
                    <!-- 사이드바 대신 끝-->
                </div>
            </div>
            <!-- 배너 밑 끝 본문 시작 전 -->
            <div class="tab-content" id="pills-tabContent">
                <!-- 첫번째 본문 시작 -->
                <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
                    aria-labelledby="pills-profile-tab" tabindex="0">
                    <!-- 회원 테이블 본문 시작 -->
                    <div class="widget-content searchable-container list">
                        <div class="card card-body" style="margin-bottom: 0px;">
                            <div class="row" style="align-items: center;">
                                <!-- 검색기능 -->
                                <h3 class="mb-3 mb-sm-0 fw-semibold d-flex align-items-center" style="margin-bottom: 15px !important;">공지사항
                                </h3 >
                                <div class="col-md-4 col-xl-3">
                                    <form class="position-relative">
                                        <input type="text" class="form-control product-search ps-5" id="input-search"
                                            placeholder="Search Contacts..." />
                                        <i
                                            class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- 승인된 회원 보여줌 -->
                        <div class="card card-body">
                            <div class="table-responsive">
                                <p style="display: inline;">게시글 개수 : [[${list.totalElements}]] </p>
                                <table class="table search-table align-middle text-nowrap" style="text-align: center;">
                                    <form id="searchForm" th:action="@{/admin/adminPageNote}" method="GET">
                                        <input type="hidden" name="page" id="requestPage" th:value="${page}">
                                    </form>
                                    <thead class="header-item">
                                        <th>글 번호</th>
                                        <th>제목</th>
                                        <th>조회수</th>
                                        <th>작성일</th>
                                    </thead>
                                    <tbody>
                                        <!-- start row -->
                                        <tr class="search-items" th:each="adminNote, status : ${list}">
                                            <td th:text="${list.getTotalElements - (list.number * list.size) - status.index}"></td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="ms-3">
                                                        <div class="user-meta-info">
                                                            <a th:href="@{/admin/adminPageNoteDetail(adminNoteNum=${adminNote.adminNoteNum})}"
                                                                th:text="${adminNote.adminNoteTitle}">공지사항 제목</a>
                                                            <span
                                                                th:if="${adminNote.adminNoteOriginalFileName != null}">
                                                                <img th:src="@{/static/images/NoteClip.png}" alt="첨부파일"
                                                                    width="15px">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="usr-email-addr"
                                                    th:text="${adminNote.adminNoteHitcount}">공지사항 조회수</span>
                                            </td>
                                            <td>
                                                <span class="usr-location"
                                                    th:text="*{#temporals.format(adminNote.adminNoteCreateDate, 'yyyy-MM-dd HH:mm:ss')}">
                                                    공지사항 작성일</span>
                                            </td>
                                        </tr>
                                        <!-- end row -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!--글쓰기 버튼-->
                        <div style="font-size: 15px; float: right; margin-bottom: 130px;">
                            <a th:href="@{/admin/adminPageNoteWrite}" class="btn btn-secondary">글쓰기</a>
                        </div>

                        <!-- 페이징 -->
                        <nav class="pagination" style="text-align: center; display: block; font-size: 18px;">
                            <a th:if="${navi.startPageGroup > 1}"
                                th:href="@{|/admin/adminPageNote?page=${navi.startPageGroup - 10}|}"
                                class="btn prev">&laquo; Previous</a>
                            <span th:each="count : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
                                <span th:if="${count == navi.page}">
                                    <b class="page-no current" th:text="${count}"></b>
                                </span>
                                <span th:unless="${count == navi.page}">
                                    <a class="page-no" th:href="@{|/admin/adminPageNote?page=${count}|}"
                                        th:text="${count}"></a>
                                </span>
                            </span>
                            <a th:if="${navi.endPageGroup < navi.totalPages}"
                                th:href="@{|/admin/adminPageNote?page=${navi.endPageGroup + 1}|}"
                                class="btn next10">Next &raquo;</a>
                        </nav>
                        <!--페이징 끝-->
                        <!-- 승인된 회원 보여줌 끝-->
                    </div>
                </div>
                <!-- 첫번째 본문 끝 -->
            </div>
            <!-- 이 div가 본문들의 전체를 감싸야함 -->
        </div>
    </div>

    <!-- Import Js Files -->
    <script src="/static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="/static/js/theme/app.init.js"></script>
    <script src="/static/js/theme/theme.js"></script>
    <script src="/static/js/theme/app.min.js"></script>
    <script src="/static/js/theme/sidebarmenu.js"></script>

    <!-- solar icons -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script> -->
    <script src="/static/libs/fullcalendar/index.global.min.js"></script>
    <script src="/static/js/apps/contact.js"></script>
    <script>
        function pageFormSubmit(page) {
            document.getElementById("requestPage").value = page;
            document.getElementById("searchForm").submit();
        }
    </script>
</body>

</html>