<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Tab title -->
  <title>게시글 수정</title> 

  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/png" th:href="@{/images/logos/favicon.png}" />

  <!-- Core Css -->
  <link rel="stylesheet" th:href="@{/css/styles.css}" />

  <!-- CKEditor5 -->
  <link rel="stylesheet" th:href="@{/ckeditor5/style.css}">
  <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.0.0/ckeditor5.css">

  
  <!-- Ajax -->
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
  
</head>

<body class="link-sidebar">
  <input type="hidden" id="memberId" th:value="${#authentication.name}">
  <input type="hidden" id="boardContent" th:value="${board.content}">
  <!-- Preloader -->
  <div class="preloader">
    <img th:src="@{/images/logos/favicon.png}" alt="loader" class="lds-ripple img-fluid" />
  </div>
  <div id="main-wrapper">
      <div class="body-wrapper">
        <div class="container-fluid">
          <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
            <div class="card-body px-4 py-3">
              <div class="row align-items-center">
                <div class="col-9">
                  <h4 class="fw-semibold mb-8"> 게시글 수정 </h4> 
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a class="text-muted text-decoration-none" th:href="@{/}">Home</a> <!--메인 화면으로-->
                      </li>
                      <li class="breadcrumb-item" aria-current="page">
                        <a th:href="@{/board/list(category=${category})}">[[${category}]]</a>  <!--게시글 목록으로-->
                      </li>
                    </ol>
                  </nav>
                </div>
                <div class="col-3">
                  <div class="text-center mb-n5">
                    <img th:src="@{/images/breadcrumb/ChatBc.png}" alt="modernize-img" class="img-fluid mb-n4" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row -->
          <div class="row">
            <div class="col-12">
              <!-- start Project Assinging -->
              <div class="card">
                <!-- <div class="card-body">
                  <h4 class="card-title">게시글 등록 </h4>
                  <p class="card-subtitle mb-0">
                    To use add <mark>
                      <code>.r-separator</code>
                    </mark> class in
                    the form with form styling.
                  </p>
                </div> -->
                <!-- 수정 폼 시작 -->
                <form class="form-horizontal r-separator" id="updateForm" th:action="@{/board/update}" method="post" enctype="multipart/form-data">
                  <div class="card-body">
                    <!-- 카테고리 -->
                    <div class="form-group mb-0">
                      <div class="row align-items-center">
                        <label for="inputText1" class="col-3 text-end  col-form-label">Category</label>
                        <div class="col-9 border-start pb-2 pt-2">
                          <input type="text" name="category" class="form-control" id="inputText1" th:value="${category}" disabled style="font-weight: 800;"/>
                        </div>
                      </div>
                    </div>
                    <!-- 게시글 제목 -->
                    <div class="form-group mb-0">
                      <div class="row align-items-center">
                        <label for="inputText2" class="col-3 text-end  col-form-label">Title</label>
                        <div class="col-9 border-start pb-2 pt-2">
                          <input type="text" name="title" class="form-control" id="inputText2" th:value="${board.title}" />
                        </div>
                      </div>
                    </div>
                    <!-- 게시글 내용 -->
                    <div class="form-group mb-0">
                      <div class="row align-items-center">
                        <label for="inputEmail1" class="col-3 text-end  col-form-label">Content</label>
                        <div class="col-9 border-start pb-2 pt-2">
                          <!--CKEditor 들어갈 자리-->
                          <div class="editor-container editor-container_classic-editor" id="editor-container">
                            <div class="editor-container__editor"><div id="editor"></div></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 첨부 파일 -->
                    <div class="form-group mb-0">
                      <div class="row align-items-center">
                        <label for="inputGroupFile01" class="col-3 text-end  col-form-label">Select File</label>
                        <div class="col-9 border-start pb-2 pt-2" id="filePart">
                          <!-- 파일 존재하는 경우 -->
                          <div th:if="${board.originalFileName != null}" class="input-group" style="position: relative;">
                            <div class="input-group-prepend">
                                <button class="btn bg-danger-subtle text-danger" id="fileDeleteBtn" type="button">
                                    <i data-feather="trash-2" class="ti ti-trash fs-5"></i>
                                </button>
                            </div>
                            <!-- Input 필드 -->
                            <div style="position: relative;">
                              <input type="text" class="form-control ms-1" aria-describedby="basic-addon1" readonly
                                  style="padding-left: 150px; padding-right: 100px;"> <!-- 왼쪽과 오른쪽 여유 공간 확보 -->
                              <!-- 링크가 input 안에 있는 것처럼 보이게 만들기 위한 a 태그 -->
                              <a th:href="@{/download(boardId=${board.boardId})}" 
                                style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); background-color: transparent; padding: 6px; text-decoration: none; z-index: 1;">
                                [[${board.originalFileName}]]
                              </a>
                          </div>
                        </div>
                        
                          <!-- 파일 존재하지 않으면 파일 선택할 수 있게 -->
                          <div th:unless="${board.originalFileName != null}" class="input-group">
                            <span class="input-group-text">Upload</span>
                            <div class="custom-file">
                              <input type="file" name="uploadFile" class="form-control" id="inputGroupFile01"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--submit을 위한 필수 값-->
                    <div class="form-group mb-0 text-end"> 
                      <div class="row align-items-center">
                        <div class="col-9 border-start pb-2 pt-2">
                          <input type="hidden" name="memberId" th:value="${#authentication.name}">
                          <input type="hidden" name="boardId" th:value="${board.boardId}">
                          <input type="hidden" id="memberGroup" name="memberGroup" > <!--ajax-->
                          <input type="hidden" name="content" id="content"> <!--ckEditor에서 내용 읽어와서 value 채우기 (script에서 처리)-->
                          <input type="hidden" name="searchWord" th:value="${searchWord}">
                          <input type="hidden" name="receivedCategory" th:value="${category}">
                          <input type="hidden" name="deleteOriginalFile" id="deleteOriginalFile" value="no">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <!-- 초기화/전송/취소/ 버튼-->
                    <div class="form-group mb-0 text-end" style="padding-right:30px"> 
                      <button type="button" id="cancelBtn" class="btn bg-danger-subtle text-danger ms-6">취소</button>
                      <button type="button" id="resetBtn" class="btn bg-info-subtle text-info ms-6">초기화</button>               
                      <button type="button" id="submitBtn" class="btn btn-primary" style="margin-left:12px">수정</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- end Project Assinging -->
              <div class="col-12" style="height:90px"></div>
            </div>
          </div>
          <!-- End Row -->
        </div>
      </div>

      <!-- 수정 취소 버튼 클릭 시 board/detail로 돌아감 -->
      <form th:action="@{/board/detail}" method="GET" id="backToDetail">
        <input type="hidden" name="boardId" th:value="${board.boardId}">
        <input type="hidden" name="category" th:value="${category}">
        <input type="hidden" name="searchWord" th:value="${searchWord}">
      </form>

    </div>
      
    <script>
      function handleColorTheme(e) {
        document.documentElement.setAttribute("data-color-theme", e);
      }
    </script>


    <div class="dark-transparent sidebartoggler"></div>
    <!-- Import Js Files -->
    <script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>
    <script th:src="@{/js/theme/app.init.js}"></script>
    <script th:src="@{/js/theme/theme.js}"></script>
    <script th:src="@{/js/theme/app.min.js}"></script>
    <script th:src="@{/js/theme/sidebarmenu.js}"></script>

    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

    <!-- board write javascript file -->
    <script th:src="@{/script/boardUpdate.js}"></script>

    <!-- CKEditor5 -->
    <script type="importmap">
    {
      "imports": {
        "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.0.0/ckeditor5.js",
        "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.0.0/"
      }
    }
    </script>
    <script type="module" th:src="@{/ckeditor5/main.js}"></script>

  </body>

</html>