<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>첫화면</title>
</head>
<body>
    <h1>디마 커뮤니티</h1>

    <br>
    <br>
    <br>
    <li><a th:href="@{/board/list(category=activity)}">activity 게시글 목록</a></li>
    <li><a th:href="@{/board/list(category=recruit)}">recruit 게시글 목록</a></li>
    <li><a th:href="@{/board/list(category=code)}">code 게시글 목록</a></li>
    <li><a th:href="@{/board/list(category=group)}">group 게시글 목록</a></li>
    <li><a th:href="@{/board/list(category=project)}">project 게시글 목록</a></li>
    <li><a th:href="@{/board/list(category=free)}">free 게시글 목록</a></li>
    <li><a th:href="@{/board/list(category=info)}">info 게시글 목록</a></li>

</body>
</html>