<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"    
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <!--웹 폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=East+Sea+Dokdo&display=swap" rel="stylesheet">

    <!-- CSS 설정 -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <!-- 로그인 유저 이름 : <span th:text="${loginName}"></span> -->
    <div class="container">
        <div class="logo">
            <img th:src="@{/images/festival.png}" alt="로고">
            <h2>회원 전용 게시판</h2>
        </div>
    
        <div class="gnb">
            <ul>
                <!--인증이 되지 않은 사람-->
                <li sec:authorize="isAnonymous()"><a th:href="@{/member/join}">회원가입</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/member/login}">로그인</a></li>

                <!--인증이 된 사람-->
                <li sec:authorize="isAuthenticated()"><a th:href="@{/member/logout}">[[${memberId}]]님, 로그아웃</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{api/chat/chatPage}">채팅하기</a></li>
            </ul>
        </div>

        <!-- 인증 관련 정보 출력 (삭제할 것) -->
        <!-- ROLE_ADMIN 계정을 가지고 있으면 아래 내용 출력 -->
        <h2 sec:authorize="hasRole('ROLE_ADMIN')">관리자</h2>
        <br>
        <!-- ROLE_USER 계정을 가지고 있으면 아래 내용 출력 -->
        <h2 sec:authorize="hasRole('ROLE_USER')">인증된 사용자</h2>
        <br>
        <!-- ROLE_ANANYMOUS 계정을 가지고 있으면 아래 내용 출력 -->
        <h2 sec:authorize="hasRole('ROLE_ANANYMOUS')">낯선 자</h2>
        <br>
        <!-- 어느 권한이건 상관없이 인증이 되었다면!!-->
        <h2 sec:authorize="isAuthenticated()">인증 완료됨</h2>
        <br>
        <!-- 인증이 안되었다면!!-->
        <h2 sec:authorize="isAnonymous()">인증되지 않음</h2>
        <br>
        <!-- 인증시 사용된 username (ID)!! -->
        Name : <h2 sec:authentication ="name"></h2>
        <br>
        <!-- 인증시 사용된 객체정보 -->
        principal : <h2 sec:authentication ="principal"></h2>

    </div><!--container 끝-->
</body>
</html>